<div class="home-main-cont">
    <div class="home-sub-cont">
    <p class="home-para-1">Zensark is an agile technology services company, We bring together strong industry experience and deep technical expertise to help customers drive business value and revenue growth.</p> 

    <p>Zensark accords the highest priority to quality of software, and also the security of customer data.</p>
    
    <p>We understand your business and we are focused on meeting your needs and exceeding your expectations.</p>
    <% if current_employee %>
    <%= link_to "click here for dashboard", landing_path%>
    <% end %>
    </div>
</div>

