<div class="leavemaincont">
  <%= render "home/menu" %>
  <div class="rightmain-cont">
    <div class="rightsubcont">
      <div class="right-cont">
        <div></div>
        <div class="heading-cont">
          <h5 >Total leaves</h5>
        </div>
      </div>
      <div class="right-cont">
        <div></div>
        <div class="heading-cont">
          <h5>Applied leaves</h5>
        </div>
      </div>
      <div class="right-cont">
        <div></div>
        <div class="heading-cont">
          <h5>Avaliable leaves</h5>
        </div>
      </div>
    </div>
    <div>
    <h2 class="leave-head">Apply Leave</h2>
    <%= render "home/leaveform" %>

    </div>
  </div>
</div>



